<?xml version="1.0"?>
<!-- 
/*
/../../../../lib/internal/Magento/Framework/Module/etc/module.xsd
urn:magento:framework:Module/etc/module.xsd
*/
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Tutorial_SimpleNews" setup_version="1.0.1" active="true"></module>
</config>